Sets - Combination of list and dictionary
- Unordered like dict and no index
- Heterogenous like list
- Doesn't allow duplicates

In [2]:
set1 = {1,2,3,4}

print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4}

In [3]:
set2={1,2,2,2,8,9} # Doesn't allow duplicates

print(set2)

{8, 1, 2, 9}

In [4]:
#Inserting an element in a set

# set1.add(55)
# set1.add(5)
# set1.add(51)
set1.add(0)


print(set1)

{0, 1, 2, 3, 4}

In [5]:
# Removing an element in a set

# set1.remove(4)
# print(set1)

set1.add('1')
print(set1)

{0, 1, 2, 3, 4, '1'}

In [6]:
# True=1  and False=0

set1.add(True) # duplicate element
print(set1)

set1.remove(True) #removes 1 
print(set1)

{0, 1, 2, 3, 4, '1'}
{0, 2, 3, 4, '1'}

In [7]:
#clear

set1.clear()
print(set1)

set()

Set conversion

In [8]:
# list to sets

lst = [1,2,3,4]

print(type(lst))

set1 = set(lst)
print(type(set1))
print(set1)

<class 'list'>
<class 'set'>
{1, 2, 3, 4}

In [15]:
print(set2)
print(set1)

# union
print(set1.union(set2))

{8, 1, 2, 9}
{1, 2, 3, 4}
{1, 2, 3, 4, 8, 9}

In [10]:
# intersection

print(set1.intersection(set2))

{1, 2}

In [16]:
# difference

print(set1)
print(set2)

print(set1.difference(set2))

{1, 2, 3, 4}
{8, 1, 2, 9}
{3, 4}

In [17]:
# Traversal in sets

for i in set1:
    print(i)

1
2
3
4

In [20]:
# Membership operator

print(set1)
print()
print(set2)

print(5 in set1)
print(4 in set1)

{1, 2, 3, 4}

{8, 1, 2, 9}
False
True

In [21]:
a = {1,2,3,4}
b = {4,5}
c = (2,3,4,5,7,8)

print(a.union(b).intersection(c))
''' 
 At first aUb is done -> 1,2,3,4,5
 Then lets keep it as temp and now temp(intersection)c -> 2,3,4,5
'''

{2, 3, 4, 5}